<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Data Base Project</title>

      <link href="https://fonts.googleapis.com/css?family=Oswald:700|PT+Sans&display=swap" rel="stylesheet">

      <link href="css/normalize.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">

</head>
<body>



      <div id="hero">

            <form method = "POST" action="{{url_for('trigger_dag_run')}}">


                  <div class="texture">  
                        <h1 style="margin-left: 450px;color: white; text-decoration: overline;
                        text-decoration: overline;       font-family: 'PT Sans', sans-serif;"> DATA 255 - Data Base System for Analytics</h1>  
                        <hr>                
                  </div>


                  <video
                  loop
                  muted
                  autoplay
                  preload="auto"
                  >
                        <source src="compressed.mp4" type="video/mp4">
                        Your browser does not support the video tag.  
                  </video>



                  <div class="caption">

                        <h1>World Terroism Analytics</h1>
                        <h2>Click here to deploy data base</h2>
                        <button> Deploy </button>

                  </div>

            </form>

      </div>


      <script src="js/object-fit-videos.js"></script>
      <script src="js/app.js"></script>
      
</body>
</html>